@charset "utf-8";
/* CSS Document */


/* font-family */

@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
@font-face {
	font-family:sketch;
	src:url(http://www.cheolje.com/pofol/knu/font/sketchrockwell.eot);
}
@font-face {
	font-family:sketch2;
	src:url(http://cheolje.com/pofol/knu/font/sketchrockwell.eot);
}	
	
/* div scroll */
#sub_vcd { width: 770px; margin: 0;}
#sub_vcd .viewport { width: 750px; height: 500px; overflow: hidden; position: relative; }
#sub_vcd .overview { list-style: none; position: absolute; left: 0; top: 0; padding: 0; margin: 0; height:1250px; }
#sub_vcd .scrollbar{ background: transparent url(../img/bg-scrollbar-2.png) no-repeat 0 0; position: relative; background-position: 0 0; float: right; width: 15px; }
#sub_vcd .track { background: transparent url(../ima/bg-scrollbar-3.png) no-repeat 0 100%; height: 100%; width:13px; position: relative; padding: 0 1px; }
#sub_vcd .thumb { background: transparent url(../img/bg-scrollbar-1.png) no-repeat 50% 100%; height: 20px; width: 25px; cursor: pointer; overflow: hidden; position: absolute; top: 0; left: -5px; }
#sub_vcd .thumb .end { background: transparent url(../img/bg-scrollbar-1.png) no-repeat 50% 0; overflow: hidden; height: 5px; width: 25px; }
#sub_vcd .disable { display: none; }
.noSelect { user-select: none; -o-user-select: none; -moz-user-select: none; -khtml-user-select: none; -webkit-user-select: none; }

/*  scroll event */

body{
	font-family:'Nanum Gothic',serif;
	margin:0;
	padding:0;
	text-align:center;
	font-size:14px;
	overflow-x:hidden;
}
img{
	border:0;
}
#page{
	width:100%;
	margin:0;
	padding:0;
}
#click_1{
	position:fixed;
	right:0px;
	z-index:10000;
}
#click_1 img{
	cursor:pointer;
	position:absolute;
	margin:50px 0 0 0;

}

/* Class */

.container{
	width:1160px;
	margin:0 auto;
}
.rine_container{
	width:100%;
	margin:0 auto;
}
.sub_title{
	position:absolute;
	margin:70px 0 0 50px;
	font-family:sketch,sketch2;
	font-size:70px;
	color:#ffffff;
}
.sub_title font{
	color:#8e2800;
}
.sub_title img{
	margin:10px 0 0 0;
}

.content{
	position:absolute;
	margin:200px 0 0 300px;
	width: 800px;
	height: 500px;
}

/* sub menu style */
#sub_menu_notice ul{
	cursor:pointer;
	position:absolute;
	width:180px;
	height:100px;
	margin:600px 0 0 60px;
	font-size:26px;
	font-weight:800;
	color:#a73a17;
	text-align:right;
	list-style:none;
	z-index:9999;
}
#sub_menu_information ul{
	cursor:pointer;
	position:absolute;
	width:180px;
	height:100px;
	margin:600px 0 0 60px;
	font-size:26px;
	font-weight:800;
	color:#faad3d;
	text-align:right;
	list-style:none;
	z-index:9999;

}
#sub_menu_gallery ul{
	cursor:pointer;
	position:absolute;
	width:180px;
	height:100px;
	margin:600px 0 0 80px;
	font-size:26px;
	font-weight:800;
	color:#faad3d;
	text-align:right;
	list-style:none;
	z-index:9999;
}

.check{
	color:#ffffff;
}


/* sub page start */

/* Home */

#main_bg{
	background:url(../img/main_bg.png) top left repeat;
}
#main{
	height:850px;
}
#main_menu{
	position: absolute;
	width:1160px;
	margin:0 auto;
}
#main_menu img{
	position:absolute;
	top:35px;
	right:30px;
}
#main_img img{
	margin:110px 0 0 0;
}
#subject{
	margin:-80px 0 0 200px;
	width:289px;
	height:74px;
	z-index:99999;
}





/* main _ notice */
#rine_home{
	height:100px;
	background:url(../img/main_bg.png) top left repeat;
}

#main_notice{
	height:700px;
	background:url(../img/home_notice_bg.jpg) top center repeat;
}
#rine_notice{
	height:100px;
	background:url(../img/notice_bg.png) top left repeat;
}












/* Notice */

#notice_bg{
	height:1000px;
	background:url(../img/notice_bg.png) top left repeat;
	position:relative;
}
#notice{
}
#notice_img{
	position:absolute;
	margin:60px 0 0 305px;
	width:58px;
	height:76px;
	background:url(../img/notice_img.png) top left no-repeat;
	
}
#major{}
#notice_1page{
	margin:0 3px 0 3px;
	width:250px;
	height:500px;
	background:url(../img/notice_1_bg.jpg) top left no-repeat;
	float:left;
	
}
#november{
	margin:20px 0 0 0; 
	width:240px;
	height:480px;
	padding:70px 0 0 0;
	z-index:100;
}
#notice_2page{
	margin:0 3px 0 3px;
	width:250px;
	height:500px;
	background:url(../img/notice_2_bg.png) top left no-repeat;
	float:left;
}
#october{
	margin:20px 0 0 0; 
	width:240px;
	height:480px;
	background:url(../img/notice_2012_10.png) top center no-repeat;
	padding:70px 0 0 0;
	z-index:100;
}
#oct_not{
	margin:0px 0 0 -20px;
	list-style:none;
	text-align:left;
	float:left;
}

#updown{
	list-style:none;
}
#updown li{
	height:15px;
	cursor:pointer;
}
#oct_2{
	display:none;
}

#notice_3page{
	margin:0 3px 0 3px;
	width:250px;
	height:500px;
	background:url(../img/notice_3_bg.jpg) top left no-repeat;
	float:left;
}
#september{
	margin:20px 0 0 0px; 
	width:240px;
	height:480px;
	padding:70px 0 0 0;
	z-index:100;
}
#september img{
	margin:0 0 0 -10px;
}

#contest{display:none;}
#contest ul{
	list-style:none;
	margin:-5px 0 0 -70px;
}
#contest ul li{
	margin:0 0 5px 0;
	cursor:pointer;
}
#con_1 img{filter:alpha(opacity=90); opacity:0.9;}
#con_2 img{filter:alpha(opacity=80); opacity:0.8;}
#con_3 img{filter:alpha(opacity=70); opacity:0.7;}
#exhibition{display:none;}







/* notice _ information */

#notice_information {
	background:url(../img/notice_information_bg.jpg) center top repeat-x;
	height:1200px;
}

/* Information */

#information_bg{
	height:1000px;
	background:url(../img/infor_bg.png) top left repeat;
}
#information{}
#information_img{
	position:absolute;
	margin:70px 0 0 510px;
	width:67px;
	height:69px;
	background:url(../img/information_img.png) top left no-repeat;
}
#vcd_content{
	height:208px;
	width:735px;
	text-align:left;
	padding:12px 0 0 0;
}

#propessor_content{
	background:url(../img/propessor_bg.png) top left no-repeat;
	padding:12px 0 0 0;
	text-align:center;
}
.major_vcd{
	margin:30px 0 0 140px;
}

#propessor {display:none;}
#cullurom {display:none;}
#cullurom img{
	float:left;
	margin:0 5px 0 0;
}



/* information_gallery */

#information_gallery {
	background:url(../img/information_gallery_bg.jpg) center top repeat-x;
	height:1100px;
}



/* Gallery */

#gallery_bg{
	height:1000px;
	background:url(../img/gallery_bg.png) top left repeat;
	position:relative;	
}
#gallery{}
#gallery_img{
	position:absolute;
	margin:60px 0 0 335px;
	width:61px;
	height:71px;
	background:url(../img/gallery_img.png) top left no-repeat;
}
#wonn{
	position:absolute;
	padding:15px 0 0 400px;
}
#wonn li{
	float:left;
}

#wonn img{
	margin:0 0 0 5px;
	cursor:pointer;
}
#wonn2{
	position:absolute;
	padding:15px 0 0 400px;
}
#wonn2 li{
	float:left;
}

#wonn2 img{
	margin:0 0 0 5px;
	cursor:pointer;
}
#wonn3{
	position:absolute;
	padding:15px 0 0 400px;
}
#wonn3 li{
	float:left;
}

#wonn3 img{
	margin:0 0 0 5px;
	cursor:pointer;
}
#g2011 ul{
	list-style:none;
	margin:-10px 0 0 -40px; 
}

#g2010 ul {	
	list-style:none;
	margin:-10px 0 0 -40px; 
}
#g2009 ul {	
	list-style:none;
	margin:-10px 0 0 -40px; 
}


#g2010{display:none;}
#g2009{display:none;}

#content_gall{
	margin:60px 0 0 0;
}
/* gallery_contact */
#gallery_contact{
	background:url(../img/gallery_contact_bg.jpg) center bottom repeat-x;
	height:998px;
}






#contact_bg{
	height:970px;
	background:url(../img/contact_bg.jpg) bottom center repeat;	
}

#contact_img{
	position:absolute;
	margin:65px 0 0 335px;
	width:76px;
	height:68px;
	background:url(../img/contact_img.png) top left no-repeat;
}
#contact_box{
	width:620px;
	height:502px;
	background:url(../img/contact_box.png) top left no-repeat;
	position:absolute;
	text-align:left;
	padding:22px 0 0 190px;
}

#text_1_1 {
	height:30px;
	width:300px;
	margin:9px 10px 10px 10px;
	border:0;
	font-size:20px;

}
#text_1_2 {
	height:30px;
	width:300px;
	margin:11.5px 10px 10px 10px;
	border:0;
	font-size:20px;

}
#text_1_3 {
	height:30px;
	width:300px;
	margin:11.5px 10px 10px 10px;
	border:0;
	font-size:20px;

}
#text_2 {
	margin:19px 0 0 6px;
	width:325px;
	border:0;
	font-size:14px;
}
#text_3 {
	margin:12px 0 0 245px;	
}

#footer{
	padding:0;
	width:100%;
	background:url(../img/footer_bg.png) top left repeat-x;
	text-align:center;
	height:50px;
	font-size:12px;
	color:#ffffff;
}




/* jquery move */

.move {
	width:1160px;
	margin:0 auto;
}
#air{
	position:absolute;
	margin:900px 0 0 0px;

}
#air_2{
	position:absolute;
	margin:-100px 0 0 0px;
}

#air_3{
	position:absolute;
	margin:-130px 0 0 0px;
}
#air_4{
	position:absolute;
	margin:-130px 0 0 0px;
}
#cloud1{
	position:absolute;
	margin:1100px 0 0 0px;

}
#cloud2{
	position:absolute;
	margin:1050px 0 0 0px;

}
#cloud3{
	position:absolute;
	margin:1180px 0 0 0px;
}
#cloud4{
	position:absolute;
	margin:1130px 0 0 0px;
}
#cloud5{
	position:absolute;
	margin:1000px 0 0 0px;
}
#cloud6{
	position:absolute;
	margin:1400px 0 0 0px;
}
#menu1{
	position:absolute;
	margin:1790px 0 0 660px;
	z-index:9999;
}
#won1{
	position:absolute;
	margin:220px 0 0 660px;
	z-index:9999;
}
#won2{
	position:absolute;
	margin:290px 0 0 660px;
	z-index:9999;
}
#won3{
	position:absolute;
	margin:360px 0 0 660px;
	z-index:9999;
}
#won4{
	position:absolute;
	margin:455px 0 0 660px;
	z-index:9999;
}
#won5{
	position:absolute;
	margin:515px 0 0 660px;
	z-index:9999;
}
#won6{
	position:absolute;
	margin:545px 0 0 660px;
	z-index:9999;
}
#won7{
	position:absolute;
	margin:640px 0 0 660px;
	z-index:9999;
}
#won8{
	position:absolute;
	margin:744px 0 0 660px;
	z-index:9999;
}
#won9{
	position:absolute;
	margin:766px 0 0 660px;
	z-index:9999;
}
#won10{
	position:absolute;
	margin:848px 0 0 660px;
	z-index:9999;
}
#won11{
	position:absolute;
	margin:933px 0 0 660px;
	z-index:9999;
}
#menu2{
	position:absolute;
	margin:1240px 0 0 660px;
	z-index:9999;
}
#wind1{
	position:absolute;
	margin:208px 0 0 203px;
	z-index:9999;
}
#wind2{
	position:absolute;
	margin:305px 0 0 406px;
	z-index:8999;
}
#wind3{
	position:absolute;
	margin:420px 0 0 625px;
	z-index:8999;
}
#wind4{
	position:absolute;
	margin:520px 0 0 870px;
	z-index:8999;
}
#menu3{
	position:absolute;
	margin:1140px 0 0 660px;
	z-index:9999;
}
#move_img{
	margin:0 0 0 -500px;
}
#menu4{
	position:absolute;
	margin:210px 0 0 660px;
	z-index:10000;
}